In [1]:
from sqlalchemy import create_engine
from config import password

In [3]:
# Connect to the database with sqlalchemy
# postgresql://postgres:{password}@localhost:5432/database_name
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/department_store')
connection = engine.connect()

In [ ]:
# Import the SQL database into Pandas.

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees.

In [ ]:
# Create a bar chart of average salary by title.